[submodule "lib/Mu"]
	path = lib/Mu
	url = git://github.com/raycmorgan/Mu.git
[submodule "lib/node-mongodb-native"]
	path = lib/node-mongodb-native
	url = git://github.com/christkv/node-mongodb-native.git
[submodule "lib/node-async-testing"]
	path = lib/node-async-testing
	url = git://github.com/bentomas/node-async-testing.git
[submodule "lib/antinode"]
	path = lib/antinode
	url = git://github.com/mhansen/antinode.git
[submodule "lib/node-crypto"]
	path = lib/node-crypto
	url = git://github.com/waveto/node-crypto.git
[submodule "lib/node-promise"]
	path = lib/node-promise
	url = git://github.com/kriszyp/node-promise.git
